@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
}

header .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .container .logo {
    width: 15%;
}

header .logo a {
    color: wheat;
    font-size: 50px;
    font-weight: bold;
    font-family: 'KoHo';
}

header .part1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

header .container nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}

header nav .block {
    margin: 30px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav .block a {
    color: burlywood;
    margin-bottom: 5px;
}

header nav .delimiter {
    display: block;
    width: 1px;
    height: 30px;
    margin: auto 0;
    background-color: black;
    transition: 1s;
}

header:hover nav .delimiter {
    background-color: wheat;
}

header nav .block .line {
    background-color: black;
    width: 0%;
    height: 1px;
    transition: 0.7s;
}

header nav .block {
    cursor: pointer;
}

header nav .block:hover .line {
    width: 100%;
    height: 1px;
    background-color: white;
}

header .part2 {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

header form {
    background-color: rgb(190, 190, 190);
    opacity: .8;
    border-radius: 15px;
    padding: 1px 10px;
    transition: 0.7s;
}

header form input {
    height: 30px;
    padding: 10px;
    border: none;
    background-color: rgb(190, 190, 190);
    font-size: 20px;
    font-weight: 600px;
}

header form:hover {
    box-shadow: 0 0 10px 3px burlywood;
}

header form input:focus {
    outline: none;
}

header form i {
    color: rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
    padding: 10px;
}

header .part2 .user i {
    color: white;
    font-size: 35px;
    margin: 0 20px 0 70px;
    transition: .6s;
}

header .part2 .user i:hover {
    color: wheat;
}

main {
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
}

main .content {
    margin-top: 50px;
    width: 85%;
}

main .info {
    display: flex;
    flex-direction: row;
}

main .content .info .part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

main .content .info .part1 .poster img {
    width: 500px;
    height: 714px;
    border-radius: 10px;
}

main .content .info .part1 video {
    height: 209px;
    width: 500px;
    margin-top: 20px;
    border-radius: 10px;
}

main .content .info .part2 {
    width: 65%;
    color: wheat;
    padding: 0 50px;
}

main .content .info .part2 .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

main .content .info .part2 .title h2 {
    width: 50%;
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
}

main .content .info .part2 .title .stars {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    color: gold;
    font-size: 30px;
}

main .content .info .part2 .title .stars i {
    margin-right: 10px;
}

main .content .info .part2 .rating {
    border: 2px solid gray;
    padding: 3px;
    border-radius: 5px;
}

main .content .info .part2 h3 {
    margin: 30px 0 20px;
    font-size: 25px;
}

main .content .info .part2 .stats {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

main .content .info .part2 .stats .part {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

main .content .info .part2 .stats .part .name {
    width: 20%;
}

main .content .info .part2 .stats hr {
    width: 100%;
    background-color: rgb(83, 83, 83);
    opacity: .2;
}

main .content .admin_buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    font-size: 30px;
}

main .content .admin_buttons .edit {
    padding: 10px;
    background-color: burlywood;
    color: black;
    display: block;
    border-radius: 10px;
    margin: 10px;
}

main .content .admin_buttons .delete {
    padding: 10px;
    background-color: #c73401;
    color: black;
    display: block;
    border-radius: 10px;
    margin: 10px;
}

main .content .description {
    margin-top: 20px;
    color: wheat;
    text-align: justify;
}

main .content .description h2 {
    font-size: 35px;
}

main .content .description p {
    margin-top: 20px;
    font-size: 23px;
}

main .content .galery {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .content .galery h2 {
    color: wheat;
    margin-bottom: 30px;
    font-size: 35px;
}

main .content .galery .frames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main .content .galery .frames .frame img {
    height: auto;
    width: 400px;
    height: 225px;
    margin: 0 20px 20px 0;
    border-radius: 10px;
}

main .content .add_review {
    color: wheat;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

main .content .add_review h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

main .content .add_review form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.rating-area {
	overflow: hidden;
	width: 300px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 30px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}

main .content .add_review form textarea {
    margin: 10px 0;
    width: 50%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

main .content .add_review form .button {
    font-size: 25px;
    border-radius: 10px;
    background-color: burlywood;
    padding: 5px;
    width: 20%;
    cursor: pointer;
}

main .content .reviews {
    color: wheat;
    margin: 70px 0;
}

main .content .reviews h2 {
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

main .content .reviews .review {
    background-color: #574406;
    opacity: .9;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    width: 50%;
    font-size: 20px;
    margin: 20px 0;
}

main .content .reviews .review .head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main .content .reviews .review .head .profile {
    display: flex;
    align-items: center;
    width: 90%;
}

main .content .reviews .review .head .profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
}

main .content .reviews .review .head .stars {
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

main .content .reviews .review .head .stars i {
    margin-right: 5px;
}

main .content .reviews .review .text {
    margin-top: 20px;
}

main .content .reviews .review .text h3 {
    margin-bottom: 20px;
}

main .content .reviews .review .comments {
    margin-top: 20px;
}

main .content .reviews .review .comments .likes {
    padding: 10px;
}

main .content .reviews .review .comments .dislikes {
    padding: 10px;
}

main .content .reviews .review .comments .likes i {
    cursor: pointer;
    transition: .7s;
}

main .content .reviews .review .comments .likes i:hover {
    color: green;
}

main .content .reviews .review .comments .dislikes i {
    cursor: pointer;
    transition: .7s;
}

main .content .reviews .review .comments .dislikes i:hover {
    color: red;
}

footer {
    background-color: black;
    height: 300px;
    display: flex;
    justify-content: center;
}

footer .container {
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .container .social {
    display: flex;
    flex-direction: row;
}

footer .container .social a i {
    color: wheat;
    margin: 20px;
    padding: 10px;
    transition: .5s;
    font-size: 30px;
}

footer .container .social a i:hover {
    opacity: .5;
}

footer .container .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: 30px;
}

footer .container .contacts .email {
    margin: 15px;
}

footer .container .contacts .email a {
    color: wheat;
    transition: .6s;
}

footer .container .contacts .email i {
    color: wheat;
    margin-right: 5px;
}

footer .container .contacts .email a:hover {
    opacity: .7;
}

footer .container .contacts .phone {
    margin: 15px;
}

footer .container .contacts .phone a {
    color: wheat;
    transition: .6s;
}

footer .container .contacts .phone i {
    color: wheat;
    margin-right: 5px;
}

footer .container .contacts .phone a:hover {
    opacity: .7;
}

@media (max-width: 1696px) {
    main .content .galery .frames img {
        height: auto;
        width: 300px;
        margin-right: 20px;
        border-radius: 10px;
    }
    main .content .reviews .review {
        width: 100%;
    }
}

@media (max-width: 1490px) {
    header .logo {
        display: none;
    }
    header .part2 {
        width: 60%;
    }
}

@media (max-width: 1386px) {
    main .content .info {
        flex-direction: column;
        align-items: center;
    }
    main .content .info .part1 {
        width: 100%;
        margin-bottom: 20px;
    }
    main .content .info .part2 {
        width: 100%;
    }
    main .content .info .part2 .stats .part .stat {
        font-size: 15px;
        text-align: right;
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }
    main .content .galery .frames img {
        height: auto;
        width: 250px;
        margin-right: 20px;
        border-radius: 10px;
    }
}

@media (max-width: 1250px) {
    header nav .block {
        margin: 20px;
    }
    header .part1 {
        width: 70%;
    }
    header .part2 {
        width: 30%;
        justify-content: flex-end;
    }
}

@media (max-width: 1150px) {
    header nav .block {
        margin: 10px;
    }
    header .part1 {
        width: 65%;
    }
    header nav .delimiter {
        display: none;
    }
    header .part2 {
        width: 35%;
        justify-content: flex-end;
    }
    header .part2 form {
        font-size: 15px;
        width: 347px;
        height: 43px;
    }
    header .part2 form input {
        font-size: 20px;
    }
}

@media (max-width: 1169px) {
    header .logo {
        display: none;
    }
    main .content .galery .frames img {
        height: auto;
        width: 200px;
        margin-right: 20px;
        border-radius: 10px;
    }
}

@media (max-width: 994px) {
    header nav .block {
        margin: 20px;
    }
}

@media (max-width: 955px) {
    header .logo {
        display: none;
    }
    main .content .info .part1 .poster {
        width: 300px;
    }
    main .content .galery .frames img {
        height: auto;
        width: 150px;
        margin-right: 20px;
        border-radius: 10px;
    }
    main .content .info .part1 video {
        height: 180px;
        width: 430px;
        margin-top: 20px;
        border-radius: 10px;
    }
    main .content .info .part2 .title h2 {
        font-size: 45px;
        white-space: nowrap;
    }
}

@media (max-width: 884px) {
    header {
        position: fixed;
        width: 100%;
    }
    header .part1 nav {
        font-size: 20px;
    }
    header nav .delimiter {
        display: none;
    }
    main .content {
        margin-top: 60px;
    }
}

@media (max-width: 784px) {
    main .content .galery .frames img {
        height: auto;
        width: 100px;
    }
}

@media (max-width: 702px) {
    main .content .info .part2 .stats .part {
        flex-direction: column;
        align-items: center;
    }
    main .content .info .part2 .stats .part .name {
        margin-bottom: 20px;
        font-weight: bold;
        width: auto;
        white-space: nowrap;
    }
    main .content .info .part2 .stats .part .stat {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 660px) {
    header .part1 nav {
        font-size: 15px;
    }
    main .content .info .part2 .title h2 {
        font-size: 30px;
    }
    main .content .info .part2 .title .stars {
        font-size: 25px;
    }
    main .content .info .part2 .title .stars i {
        margin-right: 3px;
    }
}

@media (max-width: 546px) {
    header nav .block {
        margin: 15px;
    }
    main .content .heading {
        font-size: 15px;
    }
    main .content .info .part2 .title h2 {
        font-size: 25px;
        white-space: nowrap;
    }
    main .content .description h2 {
        font-size: 30px;
    }
    main .content .description p {
        font-size: 20px;
    }
    main .content .galery h2 {
        font-size: 30px;
    }
    main .content .reviews h2 {
        font-size: 30px;
    }
}

@media (max-width: 492px) {
    header nav .block {
        margin: 10px;
    }
    footer .container .social a i {
        font-size: 25px;
        padding: 5px;
    }
    main .content .info .part1 video {
        height: 150px;
        width: 360px;
    }
    main .content .info .part2 .title .stars {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    header nav .block {
        margin: 7px;
    }
    main .content .info .part1 video {
        height: 120px;
        width: 289px;
    }
    main .content .info .part2 .title .stars {
        font-size: 15px;
    }
}

@media (max-width: 409px) {
    header .part1 nav {
        font-size: 13px;
    }
    main .content .info .part2 .title .stars {
        display: none;
    }
    main .content .reviews .review .head .stars {
        font-size: 16px;
    }
}

@media (max-width: 365px) {
    header .part1 nav {
        font-size: 11px;
    }
    footer .container .social a i {
        padding: 0px;
        margin: 15px;
    }
    main .content .description h2 {
        font-size: 25px;
    }
    main .content .description p {
        font-size: 15px;
    }
    main .content .galery h2 {
        font-size: 25px;
    }
    main .content .reviews h2 {
        font-size: 25px;
    }
}

@media (max-width: 318px) {
    header .part1 nav {
        font-size: 9px;
    }
}